RewriteEngine On

# Remove index.php from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?route=$1 [L,QSA]

# Route specific paths
RewriteRule ^login$ index.php?route=login [L,QSA]
RewriteRule ^register$ index.php?route=register [L,QSA]
RewriteRule ^restore$ index.php?route=restore [L,QSA]
RewriteRule ^forgot_password$ index.php?route=forgot_password [L,QSA]
RewriteRule ^reset_password$ index.php?route=reset_password [L,QSA]
RewriteRule ^verify$ index.php?route=verify [L,QSA]
RewriteRule ^verify-code$ index.php?route=verify-code [L,QSA]
